*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #00b4d8;
}
.container{
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.canvas{
    background-color: #0077b6;
    position: relative;
    border: solid 1px #023e8a;
    height: 100%;
    padding: 10px;
    display: grid;
    place-content: center;
    overflow: scroll;
    scrollbar-width: none;
}
.settings{
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 10px;
    left: 10px;
}

table{
    border-collapse: collapse;
}
.box{
    border: 1px solid #fff;
    height: 20px;
    width: 20px;
}

/* INPUTS */
.inputs *{
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.inputs button{
    background-color: #ade8f4;
}
.inputs button:hover{
    background-color: #caf0f8;
}

/* SETTINGS */
.settings{
    display: flex;
    align-items: center;
}
.settings *{
    cursor: pointer;
}
.settings .colorDiv{
    position: relative;
}
.settings .color{
    appearance: none;
    border-radius: 100%; 
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    overflow: hidden;
}
.settings .color::-webkit-color-swatch-wrapper {
    padding: 0;
}
.settings .color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.settings .slider{
  appearance: none;
  height: 8px;
  background: #ddd;
  border-radius: 4px;
  outline: none;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #03045e;
  border-radius: 50%;
  cursor: pointer;
}

.settings img{
    height: 30px;
    aspect-ratio: 1;
}
.settings img:hover{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.disabled{
    pointer-events: none;
}
